* {
  font-family: "Shadows Into Light", cursive;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #847c6f;
  --color-bg-variant: #d1c4b0;
  --color-primary: #847c6f;
  --color-primary-variant: #b5a994;
  --color-white: #fff;
  --color-font: #363535;
  --color-light: #fcf4e6;
  --color-black: #000000;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #3b2d1f inset;
  background: #fffef0;
  background-image: url("./assets/img/paper-texture.jpg");
  object-fit: cover;
  filter: url(#wavy2);
  z-index: -1;
  color: var(--color-font);
  line-height: 1.7;
}
